header
  width: 100%
  position: fixed
  top: 0
  background: $white
  z-index: 99999


  .moon-outline
    font-size: 28px
    color: #fbc02d
  .hamburger
    font-size: 28px
    color: $dark

  nav
    display: flex
    justify-content: space-between
    align-items: center
    margin: 2% auto
    width: 80%

    @media screen and ( max-width: 768px )
      width: 90%

    .logo
      width: 50px
      cursor: pointer
      img
        max-width: 100%
        height: auto
        border-radius: 50%
        border: 1px $primary
  
  .nav-links
    width: 60%
    display: flex
    justify-content: space-between
    align-items: center
    list-style: none
    font-weight: 300
    @media screen and ( max-width: 768px  )
      justify-content: flex-end

    li
      display: inline-block
      a
        color: $primary
        text-decoration: none
        &:hover
          color: $black

    .hide-mobile
      @media screen and ( max-width: 768px )
        display: none !important

    .resume
      background-color: $primary
      align-items: center
      padding-top: 1rem
      padding-bottom: 1rem
      padding-left: 1.5rem
      padding-right: 1.5rem
      color: $white
      font-weight: 600
      height: 2.5rem
      position: relative
      -webkit-appearance: none
      -webkit-box-pack: center
      justify-content: center
      line-height: 1.2
      user-select: none
      vertical-align: middle
      border-radius: 5px
      transistion: all 250ms ease 0s
      white-space: nowrap
      min-width: 2.5rem

main
  margin-top: 15rem
  @media screen and ( max-width: 768px )
    margin-top: 12rem
  .intro
    h2,
    p
      margin: 2.5rem 0

    h2
      font-size: 6rem
      font-size: 700
      @media screen and ( max-width: 768px )
        font-size: 2.5rem
    &--details
      color: $gray
      width: 50%
      line-height: 2

      @media screen and ( max-width: 900px )
        width: 80%
      @media screen and ( max-width: 768px )
        width: 100%
    
  .about
    margin: 20rem 0
    &__header
      margin: 4rem 0
      h2
        font-size: 3rem
        span
          font-family: 'Fira Code', monospace
          @media screen and ( max-width: 768px )
            font-size: 2.5rem
    &__content
      display: grid
      grid-template-columns: 50% 50%
      align-items: center

      @media screen and ( max-width: 900px )
        grid-template-columns: 100%
      p
        margin: 2.5rem 0
        color: $gray
        line-height: 2
      .technologies
        color: $gray
        margin-left: 1.5rem
        display: flex
        justify-content: space-between
        width: 60%

        ul
          li
            line-height: 2
        @media screen and ( max-width: 768px )
          width: 70%
      .avatar
        padding: 0 4rem
        @media screen and ( max-width: 768px )
          padding: 0
        img
          width: 100%

  .works
    margin: 20rem 0
    &__header
      margin: 4rem 0
      h2
        font-size: 3rem
        span
          font-family: 'Fira Code', monospace
        @media screen and ( max-width: 768px )
          font-size: 2.5rem
    .all-works > div
      margin: 2rem 0
    &__card
      width: 100%
      height: auto
      background: #252047





//Footer
footer
  position: relative
  bottom: 0
  padding: 1rem
  width: 100%
  background: $muted-light
  box-sizing: border-box


  .social-links
    margin: auto
    display: grid
    justify-items: center
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: 1fr
    font-size: 22px
    max-width: 300px
  .social-icon
    margin: auto
    font-weight: 600
    color: lighten($dark, 20%)
  &:hover
    color: $dark

///import css-variables from 
.dark
  body, html
  background: $background-primary

  header
    background: $background-primary
    color: darken($light, 20%)
  h2
    color: $light
  main
    color: $light
    background: $background-primary
    

  footer
    background: $background-primary
    .social-icon
      color: darken($light, 20%)
    &:hover
      color: $light


          
          
            
          
              
           
        

    

    
        
    
      
          
          
    
        
      
      
