header
  width: 100%
  position: fixed
  top: 0
  background:
  z-index: 99999



  nav
    display: flex
    justify-content: space-between
    align-items: center
    margin: 2% auto
    width: 80%

    @media screen and ( max-width: 768px )
      width: 90%

    .logo
      width: 50px
      img
        max-width: 100%
        height: auto
        border-radius: 50%
        border: 1px $primary
  
  .nav-links
    width: 60%
    display: flex
    justify-content: space-between
    align-items: center
    list-style: none
    font-weight: 400
    @media screen and ( max-width: 768px  )
      justify-content: flex-end

    li
      display: inline-block
      a
        color: $primary
        text-decoration: none
      &:hover
        color: $black

    .hide-mobile
      @media screen and ( max-width: 768px )
        display: none !important

    .resume
      background-color: $primary
      align-items: center
      padding-top: 1rem
      padding-bottom: 1rem
      padding-left: 1.5rem
      padding-right: 1.5rem
      color: $white
      font-weight: 600
      height: 2.5rem
      position: relative
      -webkit-appearance: none
      -webkit-box-pack: center
      justify-content: center
      line-height: 1.2
      user-select: none
      vertical-align: middle
      border-radius: 5px
      transistion: all 250ms ease 0s
      white-space: nowrap

main
  margin-top: 12em
  @media screen and ( max-width: 768px )
    margin-top: 9rem
  .intro
    h2,
    p
      margin: 2rem 0

    h2
      font-size: 5rem
      font-size: 700
      @media screen and ( max-width: 768px )
        font-size: 2.5rem
    &--details
      color: $gray
      width: 50%
      line-height: 2

      @media screen and ( max-width: 900px )
        width: 80%
    
        

    

    
        
    
      
          
          
    
        
      
      
